* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.js-search-form {
  margin-bottom: 30px;
  text-align: center;
}

.name {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.js-card-container {
  max-width: 650px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.countrieItem {
  display: flex;
  justify-content: space-around;
}

.textBox {
  text-align: left;
}

.textBox > p {
  margin-bottom: 15px;
}

.listCountries {
  margin-bottom: 10px;
}
